# Laravel
/vendor/
/node_modules/
.env
.env.backup
.phpunit.result.cache
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
public/hot
public/storage

# Vite / Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
